# Core and Neuroimaging Libraries
dipy == 1.12.1
numpy == 2.3.5
nibabel == 5.4.2
matplotlib == 3.11.0
scikit-learn == 1.9.0
scipy == 1.15.3
pandas == 2.3.3
antspyx == 0.6.3
statsmodels == 0.14.4

# Dependencies
import os
from pathlib import Path

import ants
import nibabel as nib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from dipy.segment.mask import median_otsu
from dipy.io.gradients import read_bvals_bvecs
from dipy.core.gradients import gradient_table
from dipy.reconst.dti import TensorModel

# Statistical Visualizations
from scipy import stats
from statsmodels.stats.multitest import multipletests

from sklearn.datasets import make_classification, load_iris
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve, auc, accuracy_score
